// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "lists";

.container {
  background-color: #f7f7f7;
  h1{
    font-family: 'Questrial', sans-serif;
  }
}
.nav-color{
  background-color: #2e4750;
  color:white;
}
.navbar-brand{
  color:white;
}
